*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://w.wallha.com/ws/6/i51Fuhep.jpg);
}

.container{
    border: solid black;
    background-color: white;
    display: flex;
}
.first{
    font-style: oblique;
    font-size: 1vw;
    border: double black;
    height: 22vh;
}
.second{
    font-style: oblique;
    font-size: 1vw;
    border: double black;
    height: 22vh;
}
.third{
    font-style: oblique;
    font-size: 1vw;
    border: double black;
    height: 22vh;
}
header{
    display: flex;
    justify-content: center;
    font-weight:900;
    color:black;
}
.box{
    font-size: 1vw;
    font-weight: bolder;
    width: 25vw;
}
img{
    width: 30vw;
    position: relative;
    left: 100vh;
    bottom: 2vh;
}